src/conf/xml-resources/web-service-references/AlumnosWebService/wsdl/localhost_8080/Alumnos/AlumnosWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.proyecto.empresa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.proyecto.empresa.com/">

<xs:element name="crearAlumno" type="tns:crearAlumno" />

<xs:element name="crearAlumnoResponse" type="tns:crearAlumnoResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:element name="listarAlumno" type="tns:listarAlumno" />

<xs:element name="listarAlumnoResponse" type="tns:listarAlumnoResponse" />

<xs:complexType name="crearAlumno">
<xs:sequence>
<xs:element name="nombreAlumno" type="xs:string" minOccurs="0" />
<xs:element name="Edad" type="xs:int" />
<xs:element name="gradoEscolar" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarAlumno">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listarAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumnos" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="alumnos">
<xs:sequence>
<xs:element name="edad" type="xs:int" />
<xs:element name="gradoEscolar" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>