src/conf/xml-resources/web-service-references/AlumnosWebService/wsdl/localhost_8080/Alumnos/AlumnosWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.proyecto.empresa.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.proyecto.empresa.com/" name="AlumnosWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.proyecto.empresa.com/" schemaLocation="http://localhost:8080/Alumnos/AlumnosWebService?xsd=1" />
</xsd:schema>
</types>
<message name="listarAlumno">
<part name="parameters" element="tns:listarAlumno" />
</message>
<message name="listarAlumnoResponse">
<part name="parameters" element="tns:listarAlumnoResponse" />
</message>
<message name="crearAlumno">
<part name="parameters" element="tns:crearAlumno" />
</message>
<message name="crearAlumnoResponse">
<part name="parameters" element="tns:crearAlumnoResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<portType name="AlumnosWebService">
<operation name="listarAlumno">
<input wsam:Action="http://ws.proyecto.empresa.com/AlumnosWebService/listarAlumnoRequest" message="tns:listarAlumno" />
<output wsam:Action="http://ws.proyecto.empresa.com/AlumnosWebService/listarAlumnoResponse" message="tns:listarAlumnoResponse" />
</operation>
<operation name="crearAlumno">
<input wsam:Action="http://ws.proyecto.empresa.com/AlumnosWebService/crearAlumnoRequest" message="tns:crearAlumno" />
<output wsam:Action="http://ws.proyecto.empresa.com/AlumnosWebService/crearAlumnoResponse" message="tns:crearAlumnoResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://ws.proyecto.empresa.com/AlumnosWebService/helloRequest" message="tns:hello" />
<output wsam:Action="http://ws.proyecto.empresa.com/AlumnosWebService/helloResponse" message="tns:helloResponse" />
</operation>
</portType>
<binding name="AlumnosWebServicePortBinding" type="tns:AlumnosWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="listarAlumno">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="crearAlumno">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="AlumnosWebService">
<port name="AlumnosWebServicePort" binding="tns:AlumnosWebServicePortBinding">
<soap:address location="http://localhost:8080/Alumnos/AlumnosWebService" />
</port>
</service>
</definitions>